### Set1

#### Q1.

In [7]:
my_list=['3','5','7','23']
type(my_list),my_list

(list, ['3', '5', '7', '23'])

In [8]:
my_tuple=('3','5','7','23')
type(my_tuple),my_tuple

(tuple, ('3', '5', '7', '23'))

##### Q2.

In [9]:
color_list=["Red","Green","White","Black"]

In [13]:
color_list[0],color_list[3]

('Red', 'Black')

##### Q3.

In [14]:
list=[1,2,3,4,5,6,7,8,9]

In [20]:
for x in list:
     if x%2==0:
        print(x)

2
4
6
8

In [1]:
## using list comprehensive
list=[i for i in range(1,10) if i%2==0 ]
list

[2, 4, 6, 8]

###  Modules

In [1]:
from datetime import date

In [2]:
first_date = date(2014, 7, 2)
last_date = date(2014, 7, 11)
ndays = last_date - first_date
print(ndays.days)

9

### Functions

##### Q1.

In [7]:
pi=3.1415926535897931
def sphere(r):
    volume = 4/3*pi*r**3
    print(volume)

In [8]:
sphere(6)

904.7786842338603

##### Q2.

In [9]:
def sum(a,b,c):
    sum=a+b+c
    if (a==b==c):
        return sum*3
    print(sum)

In [10]:
sum(1,2,3)

6

In [11]:
sum(2,2,2)

18

In [12]:
sum(10,10,30)

50

In [13]:
sum(20,20,20)

180

##### Q3.

In [32]:
def count_4(list):
    cnt=0
    for num in list:
        if num == 4 :
            cnt=cnt+1      
    return cnt

In [33]:
count_4([1,4,6,8,4,9,4])

3

In [34]:
count_4([1,4,6,8,4,9,4,5,7,2,4,4,9,4])

6

##### Q4.

In [36]:
numbers = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 
    958,743, 527]
for x in numbers:
    if x==237:
        print(x)
        break;
    elif x % 2 == 0:
        print(x)

386
462
418
344
236
566
978
328
162
758
918
237

##### Q5.

In [40]:
result=[]
for i in range(1500,2701):
    if (i%7==0) and (i%5==0):
            result.append(str(i))
print(result)

['1505', '1540', '1575', '1610', '1645', '1680', '1715', '1750', '1785', '1820', '1855', '1890', '1925', '1960', '1995', '2030', '2065', '2100', '2135', '2170', '2205', '2240', '2275', '2310', '2345', '2380', '2415', '2450', '2485', '2520', '2555', '2590', '2625', '2660', '2695']

##### Q6.

In [43]:
for num in range(0,7):
    if (num==3 or num==6):
        continue
    print(num)

0
1
2
4
5

##### Q7.,Q8

In [48]:
x,y=0,1
while y<50:
    print(y)
    x,y=y,x+y

1
1
2
3
5
8
13
21
34

##### Q9.

In [60]:
def unique(list): 
    x = []
    for a in list:
        if a not in x:
            x.append(a)
    return x

In [58]:
unique( [1,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

### Strings

##### Q1.

In [61]:
def concatenate_list(list):
    result= ''
    for element in list:
        result += str(element)
    return result

In [62]:
concatenate_list([10,20,5,6,8])

'1020568'

### Dictionary

In [75]:
dic1={1:10,2:20}
dic2={3:30,4:40}
dic3={5:50,6:60}
dic4={}
for d in (dic1,dic2,dic3):
              dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

### Series

In [19]:
import pandas as pd
from pandas import Series
s1 = pd.Series([2, 4, 6, 8, 10])
s2 = pd.Series([1, 3, 5, 7, 9])
dataseries = s1 + s2
print("Addition  of two Series:")
print(dataseries)
dataseries = s1 - s2
print("Subtraction of two Series:")
print(dataseries)
dataseries = s1 * s2
print("Multiplication of two Series:")
print(dataseries)
dataseries = s1 / s2
print("Dividivison of Series1 by Series2:")
print(dataseries)

Addition  of two Series:
0     3
1     7
2    11
3    15
4    19
dtype: int64
Subtraction of two Series:
0    1
1    1
2    1
3    1
4    1
dtype: int64
Multiplication of two Series:
0     2
1    12
2    30
3    56
4    90
dtype: int64
Dividivison of Series1 by Series2:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

### Data frame
##### Q1.

In [11]:
import pandas as pd
import numpy as np
from pandas import DataFrame,Series
exam_data={'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
           'score':[12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
           'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df=pd.DataFrame(exam_data,index=labels)
df

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [18]:
df.iloc[[1,3,5,6],[0,1]]

      name  score
b     Dima    9.0
d    James    NaN
f  Michael   20.0
g  Matthew   14.5

##### Q2.

In [21]:
crime_data=pd.read_csv('crime_data.csv')
crime_data

        Unnamed: 0  Murder  Assault  UrbanPop  Rape
0          Alabama    13.2      236        58  21.2
1           Alaska    10.0      263        48  44.5
2          Arizona     8.1      294        80  31.0
3         Arkansas     8.8      190        50  19.5
4       California     9.0      276        91  40.6
5         Colorado     7.9      204        78  38.7
6      Connecticut     3.3      110        77  11.1
7         Delaware     5.9      238        72  15.8
8          Florida    15.4      335        80  31.9
9          Georgia    17.4      211        60  25.8
10          Hawaii     5.3       46        83  20.2
11           Idaho     2.6      120        54  14.2
12        Illinois    10.4      249        83  24.0
13         Indiana     7.2      113        65  21.0
14            Iowa     2.2       56        57  11.3
15          Kansas     6.0      115        66  18.0
16        Kentucky     9.7      109        52  16.3
17       Louisiana    15.4      249        66  22.2
18           Maine     2.1       83        51   7.8
19        Maryland    11.3      300        67  27.8
20   Massachusetts     4.4      149        85  16.3
21        Michigan    12.1      255        74  35.1
22       Minnesota     2.7       72        66  14.9
23     Mississippi    16.1      259        44  17.1
24        Missouri     9.0      178        70  28.2
25         Montana     6.0      109        53  16.4
26        Nebraska     4.3      102        62  16.5
27          Nevada    12.2      252        81  46.0
28   New Hampshire     2.1       57        56   9.5
29      New Jersey     7.4      159        89  18.8
30      New Mexico    11.4      285        70  32.1
31        New York    11.1      254        86  26.1
32  North Carolina    13.0      337        45  16.1
33    North Dakota     0.8       45        44   7.3
34            Ohio     7.3      120        75  21.4
35        Oklahoma     6.6      151        68  20.0
36          Oregon     4.9      159        67  29.3
37    Pennsylvania     6.3      106        72  14.9
38    Rhode Island     3.4      174        87   8.3
39  South Carolina    14.4      279        48  22.5
40    South Dakota     3.8       86        45  12.8
41       Tennessee    13.2      188        59  26.9
42           Texas    12.7      201        80  25.5
43            Utah     3.2      120        80  22.9
44         Vermont     2.2       48        32  11.2
45        Virginia     8.5      156        63  20.7
46      Washington     4.0      145        73  26.2
47   West Virginia     5.7       81        39   9.3
48       Wisconsin     2.6       53        66  10.8
49         Wyoming     6.8      161        60  15.6

In [ ]:
## 1.

### Basic Programs
##### Q1.

In [77]:
# Examples of Arithmetic Operator  
a = 20
b = 5
  
# Addition of numbers  
add = a + b  
  
# Subtraction of numbers  
sub = a - b  
  
# Multiplication of number  
mul = a * b  
  
# Division(float) of number  
div1 = a / b  
  
# Division(floor) of number  
div2 = a // b  
  
# Modulo of both number  
mod = a % b  
  
# Power 
p = a ** b 
  

print('addition',add)  
print('subtraction',sub)  
print('multiplication',mul)  
print('division with float',div1)  
print('division with floor',div2)  
print('modularity',mod) 
print('power',p)

addition 25
subtraction 15
multiplication 100
division with float 4.0
division with floor 4
modularity 0
power 3200000

In [82]:
# Examples of Relational Operators 
a = 100
b = 35
  
print('a > b',a>b) 
print('a < b',a < b) 
print('a == b',a==b) 
print('a != b',a!=b) 
print('a >= b',a>=b) 
print('a <= b',a<=b)

a > b True
a < b False
a == b False
a != b True
a >= b True
a <= b False

In [83]:
# Examples of Logical Operator 
a = True
b = False

print(a and b) 
 
print(a or b) 

print(not a)

False
True
False

In [103]:
# Examples of Identity operators 
a1 = 100
b1 = 100
a2 = 'ThisisPython3'
b2 = 'ThisisPython3'
a3 = [1,2,3] 
b3 = [1,2,3] 
  

print(a1 is b1) 
  
print(a2 is not b2) 
 
print(a3 is b3)## lists are mutable.

True
False
False

In [105]:
# Examples of Membership operator 
x = 'This is Python Program'
y = {3:'a',4:'b'} 
  

print('P' in x) 
  
print('Hello' not in x) 
  
print('Program' not in x) 
  
print(3 in y) 
  
print('b' in y)

True
True
False
True
False

In [107]:
# Examples of Operator Precedence 
  
# Precedence of '+' & '*'  
result = 10 + 20 * 50
print(result)  
  
# Precedence of 'or' & 'and'  
name = "John"
age = 0
    
if name == "Alex" or name == "John" and age >= 2 :   
    print("Hello! Welcome.")  
else :  
    print("Good Bye!!")

1010
Good Bye!!

##### Q2.

In [1]:
list=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [2]:
list[1:10]

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
list[:15]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [4]:
list[3:]

[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [24]:
list[3:-1]

[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [23]:
list[::-1]

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [26]:
list[-2::]

[19, 20]

In [5]:
tuple=(10,20,30,40,50,60,70,80,90,100)
tuple

(10, 20, 30, 40, 50, 60, 70, 80, 90, 100)

In [6]:
tuple[5:10]

(60, 70, 80, 90, 100)

In [8]:
tuple[:6]

(10, 20, 30, 40, 50, 60)

In [9]:
tuple[3:]

(40, 50, 60, 70, 80, 90, 100)

In [16]:
string='ThisisPythonprogram'
string

'ThisisPythonprogram'

In [17]:
string[2:5]

'isi'

In [21]:
string[::12]

'Tp'

##### Q3.

In [4]:
total=0
i=1
while i>0 or total<100:
    total=total+i
    if(total>100):
        break
    print(i,total)
    i=i+1

1 1
2 3
3 6
4 10
5 15
6 21
7 28
8 36
9 45
10 55
11 66
12 78
13 91

##### Q4.